<!--<ui-view flex layout="column">-->
<md-card flex >
  <md-toolbar class="md-table-toolbar md-default" ng-hide="selected.length || filter.show">
    <div class="md-toolbar-tools">
      <span class="md-title title-margin-select">用户管理</span>
      <md-icon>search</md-icon>
      <form name="filter.form">
        <input type="text" ng-model="query.filter" ng-model-options="filter.options" placeholder="搜索">
      </form>
      <md-button class="md-icon-button" ng-click="removeFilter()" ng-show="query.filter.length > 0">
        <md-icon>close</md-icon>
      </md-button>
      <div flex></div>
      <md-button class="md-icon-button" ng-click="advancedSearchToggle(advancedSearchFlag)">
        <md-tooltip>高级搜索</md-tooltip>
        <md-icon>gps_fixed</md-icon>
      </md-button>
      <md-button class="md-icon-button" ng-click="refresh($event)">
        <md-tooltip>刷新</md-tooltip>
        <md-icon>refresh</md-icon>
      </md-button>
      <md-button class="md-icon-button" ng-click="add($event)" has_Authority="ROLE_ADMIN">
        <md-tooltip>添加</md-tooltip>
        <md-icon>add</md-icon>
      </md-button>
     <md-button class="md-icon-button" ng-click="quickAdd($event)" has_Authority="ROLE_ADMIN">
        <md-tooltip>批量添加</md-tooltip>
        <md-icon>add_box</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-toolbar class="md-table-toolbar alternate" ng-show="selected.length">
    <div class="md-toolbar-tools">
        <div>选中 {{selected.length}} 行</div>
        <div flex></div>
        <md-button class="md-icon-button" ng-click="delete()">
            <md-tooltip>删除</md-tooltip>
            <md-icon>delete</md-icon>
        </md-button>
    </div>
  </md-toolbar>

  <md-card ng-show="advancedSearchFlag==true">
    <form class="md-inline-form"  name="advancedSearchForm" novalidate ng-submit="advancedSearchSave($event)">
      <md-card-title>
        <md-card-title-text>
          <span class="md-title">高级条件搜索</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <div layout-gt-sm="row" style="margin-top:-15px">
          <md-input-container flex>
            <label>用户类型</label>
            <md-select name="userType" ng-model="query.userType">
                <md-option ng-repeat="type in userType" value="{{type.id}}">
                    {{type.dictDesc}}
                </md-option>
            </md-select>
          </md-input-container>

          <md-input-container flex>
            <label>家乡所在省</label>
            <md-select name="bornLocationProvince" ng-model="query.bornLocationProvince">
              <md-option ng-repeat="type in bornLocationProvince" value="{{type}}">
                {{type.dictDesc}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container flex ng-show="bornLocationCity">
            <label>家乡所在市</label>
            <md-select name="bornLocationCity" ng-model="query.bornLocationCity">
                <md-option ng-repeat="type in bornLocationCity" value="{{type}}">
                    {{type.dictDesc}}
                </md-option>
            </md-select>
          </md-input-container>

          <md-input-container flex>
            <label>当前所在省</label>
            <md-select name="currentLocationProvince" ng-model="query.currentLocationProvince">
              <md-option ng-repeat="type in currentLocationProvince" value="{{type}}">
                {{type.dictDesc}}
              </md-option>
            </md-select>
          </md-input-container>

          <md-input-container flex ng-show="currentLocationCity">
            <label>当前所在市</label>
            <md-select name="currentLocationCity" ng-model="query.currentLocationCity">
                <md-option ng-repeat="type in currentLocationCity" value="{{type}}">
                    {{type.dictDesc}}
                </md-option>
            </md-select>
          </md-input-container>

          <md-input-container flex>
            <label>身高</label>
            <input type="number" name="height" ng-model="query.height" >
          </md-input-container>

        </div>
        <div layout-gt-sm="row" style="margin-top:-40px">

            <md-input-container flex>
                <label>性别</label>
                <md-select name="gender" ng-model="query.gender">
                    <md-option ng-repeat="type in gender" value="{{type}}">
                        {{type.dictDesc}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container flex>
                <label>是否有车</label>
                <md-select name="car" ng-model="query.car">
                    <md-option ng-repeat="type in car" value="{{type}}">
                        {{type.desc}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container flex>
                <label>是否有房</label>
                <md-select name="house" ng-model="query.house">
                    <md-option ng-repeat="type in house" value="{{type}}">
                        {{type.dictDesc}}
                    </md-option>
                </md-select>
            </md-input-container>

            <div class="date-picker-row" style="margin-left:30px;margin-top:20px;">
                <label>出生日期开始</label>
                <md-datepicker flex name="bornStartTime"  ng-model="query.bornStartTime"
                               md-placeholder="出生日期开始"></md-datepicker>
            </div>
            <div class="date-picker-row"  style="margin-left:30px;margin-top:20px;">
                <label>出生日期结束</label>
                <md-datepicker flex name="bornEndTime" ng-model="query.bornEndTime"
                               md-placeholder="出生日期结束"></md-datepicker>
            </div>
        </div>
      </md-card-content>
      <md-card-actions style="margin-top:-45px" layout="row" layout-align="end end">
        <md-checkbox ng-model="query.isHistory" class="md-primary" style="left: 10px">全部记录</md-checkbox>
        <span flex></span>
        <md-button class="md-warn md-raised" ng-click="cleanAdvancedSearch()">
          清除
        </md-button>
        <md-button type="submit" class="md-primary md-raised">
          搜索
        </md-button>
      </md-card-actions>
    </form>
  </md-card>
  <md-table-container flex >
    <table md-table multiple ng-model="selected" md-progress="promise" md-row-select>
      <thead  md-head md-order="query.order" md-on-reorder="advancedSearchSave" fix-head >
        <tr md-row>
          <th md-column md-order-by="id">用户编号</th>
          <th md-column >用户类型</th>
          <th md-column md-order-by="nature">当前所在地</th>
          <th md-column>操作</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row md-select="item" md-select-id="{{item.id}}" ng-repeat="item in data.content">
          <td md-cell>{{item.id}}</td>
          <td md-cell>{{showDictionary(item.usertype,userType)}}</td>
          <td md-cell>{{item.location}}</td>
          <td md-cell>
            <md-button class="md-icon-button" ng-click="edit(item.id)" aria-label="编辑">
              <md-icon>edit</md-icon>
            </md-button>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination md-label="{page: '页:', rowsPerPage: '每页行数:', of: '共'}" md-limit="query.size" md-limit-options="[10, 20, 50,100,]" md-page="query.page" md-total="{{data.totalElements}}" md-on-paginate="pageRefresh" md-page-select></md-table-pagination>
</md-card>

