<md-content>
  <div layout="row" layout-align="center center" md-theme="error">
    <md-card flex-sm="100" flex-gt-sm="60" flex-gt-md="40">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>无权访问</h2>
        </div>
      </md-toolbar>
      <md-card-content>
        <p>
          你无权访问该页面，请重新以有权限的用户登录或返回首页。
        </p>
      </md-card-content>
      <md-card-actions layout="row" layout-align="center center">
        <md-button class="md-primary" ui-sref="dashboard">返回首页</md-button>
      </md-card-actions>
    </md-card>
  </div>
</md-content>
