<md-card>

  <md-toolbar class="md-table-toolbar md-default" >
    <div class="md-toolbar-tools">
      <span class="md-title">发现文章管理</span>
      <div flex></div>
      <md-button class="md-icon-button" ng-click="refresh($event)">
        <md-tooltip>刷新</md-tooltip>
        <md-icon>refresh</md-icon>
      </md-button>
      <md-button  has-authority="ROLE_ADMIN" class="md-icon-button" ng-click="add()">
        <md-tooltip>添加</md-tooltip>
        <md-icon>add</md-icon>
      </md-button>
    </div>
  </md-toolbar> 
  
  <md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
      <md-icon>search</md-icon>
      <form flex name="filter.form">
        <input type="text" ng-model="query.filter" ng-model-options="filter.options" placeholder="搜索">
      </form>
    </div>
  </md-toolbar>
  
   <md-toolbar class="md-table-toolbar alternate" ng-show="selected.length"  >
    <div class="md-toolbar-tools">
      <div>选中 {{selected.length}} 行</div>
      <div flex></div>
      <md-button has-authority="ROLE_ADMIN" class="md-icon-button" ng-click="redisAPISysUpgradeInfo(item)" confirm = "确认发布该条信息？">
        <md-tooltip>信息发布</md-tooltip>
        <md-icon>input</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-table-container>
    <table style="word-break:break-all; word-wrap:break-all;" md-table md-row-select ng-model="selected" md-progress="promise">
      <thead md-head  md-order="query.order" md-on-reorder="refresh">
        <tr md-row>
          <th md-column>文章编号</th>
          <th md-column>标题</th>
          <th md-column>是否已发布</th>
          <th md-column>操作</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row md-select="item" md-select-id="{{item.id}}" ng-repeat="item in data.content">
          <td md-cell>{{item.id}}</td>
          <td md-cell style="width:130px">{{item.upgradeDate}}</td>
          <td md-cell>{{item.ifPublish}}</td>
          <td md-cell nowrap>
	          	<md-button class="md-icon-button" ng-click="edit(item)" aria-label="修改">
		           	<md-icon>edit</md-icon>
	      	  		<md-tooltip>修改</md-tooltip>
	           </md-button>
	           <md-button class="md-icon-button" ng-click="delete(item)" confirm = "确认删除该条系统升级信息吗？" aria-label="删除">
		           	<md-icon>delete</md-icon>
	      	  		<md-tooltip>删除</md-tooltip>
	           </md-button>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination  style="min-height: 40px;" md-Options="[5, 10, 15,50 , 100]"  md-label="{page: '页:', rowsPerPage: '每页行数:', of: '共'}" md-limit="query.size" md-page="query.page" md-total="{{data.totalElements}}" md-on-paginate="refresh" md-page-select></md-table-pagination>
 </md-card>
