<md-content>
  <div layout="row" layout-align="center center">
    <md-card flex-sm="100" flex-gt-sm="60" flex-gt-md="40">
      <form name="form" novalidate ng-submit="login($event)">
        <md-card-content>
          <h2 class="md-title">用户登录</h2>
          <p class="error" ng-show="authenticationError">用户登录失败，请检查输入</p>
          <div class="inset"></div>
          <md-input-container class="md-block">
            <label>用户名</label>
            <input type="text" name="username" ng-model="username" required md-maxlength="20" ng-pattern="/^[0-9a-zA-Z]*$/">
            <div ng-messages="form.username.$error">
              <div ng-message="required">请输入用户名</div>
              <div ng-message="pattern">用户名只能包含英文字母和数字</div>
              <div ng-message="md-maxlength">用户名不能多于20个字符</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>密码</label>
            <input type="password" name="password" ng-model="password" required md-maxlength="20">
            <div ng-messages="form.password.$error">
              <div ng-message="required">请输入密码</div>
              <div ng-message="md-maxlength">密码不能多于20个字符</div>
            </div>
          </md-input-container>
        </md-card-content>
        <md-card-actions layout="row" layout-padding layout-align="space-between center">
          <md-checkbox ng-model="rememberMe" class="md-primary">保持登录</md-checkbox>
          <md-button type="submit" class="md-primary md-raised">登录</md-button>
        </md-card-actions>
      </form>
    </md-card>
  </div>
</md-content>
