<md-content>
  <form name="form" novalidate ng-submit="save($event)">
    <div layout="row" layout-align="center center">
      <md-card flex-xs="100" flex-sm="90" flex-md="80" flex-gt-md="70">
        <md-card-title>
          <md-card-title-text>
            <span class="md-title">修改密码</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <md-input-container class="md-block">
            <label>原密码</label>
            <input type="password" name="originalPassword" autocomplete="off" ng-model="originalPassword" required minlength="2" md-maxlength="20" ng-paste="$event.preventDefault()">
            <div ng-messages="form.originalPassword.$error">
              <div ng-message="required">请输入原密码</div>
              <div ng-message="minlength">密码必须为2到20个字符</div>
              <div ng-message="md-maxlength">密码必须为2到20个字符</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>新密码</label>
            <input type="password" name="password" autocomplete="off" ng-model="password" required minlength="2" md-maxlength="20"	ng-paste="$event.preventDefault()">
            <div ng-messages="form.password.$error">
              <div ng-message="required">请输入密码</div>
              <div ng-message="minlength">密码必须为2到20个字符</div>
              <div ng-message="md-maxlength">密码必须为2到20个字符</div>
              <div ng-message="match">两次输入的密码不相同</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>确认密码</label>
            <input type="password" name="confirm" autocomplete="off" ng-model="confirmPassword" required minlength="2" md-maxlength="20" ui-validate="{match:'$value==password'}" ui-validate-watch="'password'" ng-paste="$event.preventDefault()">
            <div ng-messages="form.confirm.$error">
              <div ng-message="required">请输入确认密码</div>
              <div ng-message="minlength">确认密码必须为2到20个字符</div>
              <div ng-message="md-maxlength">确认密码必须为2到20个字符</div>
              <div ng-message="match">两次输入的密码不相同</div>
            </div>
          </md-input-container>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button type="submit" class="md-primary md-raised">修改</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </form>
</md-content>
